spring:
  config:
    activate:
      on-profile: dev
    import: optional:file:.env[.properties]


  datasource:
    url: jdbc:postgresql://localhost:5433/dev_card_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  liquibase:
    enabled: true
    change-log: classpath:db/migration/db.changelog-master.yaml

server:
  port: 8080

logging:
  level:
    root: DEBUG

card:
  encryption:
    key: ${KEY}
    iv: ${IV}